@tailwind base;
@tailwind components;
@tailwind utilities;

.prose blockquote {
    background-color: rgb(248 249 250 / var(--tw-bg-opacity));
    border: solid 1px rgb(162 169 177 / var(--tw-border-opacity));
    padding: 1rem;
    font-weight: 400;
}
