---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Talks">
    <div class={`flex-1 !pt-0 !pb-10 sm:!pb-24`}>
        <article
                class="prose prose-md text-sm prose-h2:font-eb-garamond prose-h3:font-eb-garamond prose-h4:font-eb-garamond w-full max-w-none">
            <div
                    class={`flex-1 border-b-0 `}
            >
                <h1
                        class={`w-full text-2xl font-bold border-b border-gray-250 font-eb-garamond pb-2`}
                >
          <span
                  class={`bg-clip-text`}
          >
            Talks and publications
          </span>
                </h1>
            </div>

            <ul>
                <li>Functional programming principles <a class="text-sail-500"
                                                         href="https://youtu.be/qWXfs4iOCg4?si=9U5mhHAyNiXP8NHk"
                                                         target="_blank">https://youtu.be/qWXfs4iOCg4?si=9U5mhHAyNiXP8NHk</a>
                </li>
                <li>ReactJS Indonesia Online Meetup #5 - Unit Testing in JavaScript Applications <a
                        href="https://www.twitch.tv/collections/IvcPkfqZ2xUl1w" class="text-sail-500" target="_blank">https://www.twitch.tv/collections/IvcPkfqZ2xUl1w</a>
                </li>
            </ul>
        </article>
    </div>
</Layout>