/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: rgb(54, 49, 69);
    font-size: 20px;
    line-height: 1.7;
}

main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

strong,
b {
    font-weight: 700;
}

a:hover {
    color: #1694e1;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

code {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}

pre.astro-code {
    padding: 1.5em;
    border-radius: 8px;
    background-color: rgb(246, 248, 250) !important;
    border: 1px solid #eaecf0;
    border-radius: 0 !important;
}

pre.astro-code > code {
    border: 0 !important;
    padding: 0 !important;
}

pre.astro-code > code > span.line:last-child {
    display: none;
}

pre > code {
    all: unset;
}

code {
    color: #000 !important;
    background-color: #f8f9fa !important;
    border: 1px solid #eaecf0 !important;
    border-radius: 0px !important;
    padding: 1px 4px !important;
}

.prose blockquote {
    background-color: rgb(248 249 250 / var(--tw-bg-opacity));
    border: solid 1px rgb(162 169 177 / var(--tw-border-opacity));
    padding: 1rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

blockquote > p {
    font-size: 1rem !important;
    margin: 0 !important;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
    border: 1px solid #eaecf0;
    border-radius: 0;
}

.prose h2 {
    font-size: 1.8em;
}

.prose h3 {
    font-size: 1.5em;
}

.prose h4 {
    font-size: 1.3em;
}

hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}

a[target="_blank"]:not(.external-link) {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("/external-link-ltr-icon.png");
    padding-right: 13px;
}

a[target="_blank"].external-link {
    position: relative;
}

a[target="_blank"].external-link:after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("/external-link-ltr-icon.png");
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
