---
import type { CollectionEntry } from "astro:content";

import { THEME_COLOR } from "@util/style";
import BackToTop from "@components/BackToTop";

type AstroComponentFactory = any;
type Props = CollectionEntry<"post">["data"] & {
  of: AstroComponentFactory
};

const { title, date, of: Component } = Astro.props;
---

<div class="flex-1">
  <div
    class={`flex-1 pb-2 mb-5 md:mb-8 border-b border-gray-250`}
  >
    <h1
      class={`w-full font-eb-garamond relative text-4xl title-font font-extrabold tracking-normal leading-snug`}
    >
      <span
        class={`bg-clip-text text-transparent bg-gradient-to-r ${
          THEME_COLOR
        }`}
      >
        {title}
      </span>
    </h1>
  </div>

  <div class={`flex-1 !pt-0 !pb-10 sm:!pb-24`}>
    <article
      class="prose dark:prose-dark prose-md text-sm prose-h2:font-eb-garamond prose-h3:font-eb-garamond prose-h4:font-eb-garamond w-full max-w-none">
      <Component />
    </article>

    <div class="flex flex-row items-center gap-2 mt-20">
      <BackToTop client:load />
      <span class="block text-gray-400 text-xs">/</span>
      <a href="/posts" class="hover:underline text-xs">
        Posts
      </a>
    </div>
  </div>
</div>