---
import Header from "@components/Header.astro";
import BaseHead from "@components/BaseHead.astro";

interface Props {
    title?: string;
    description?: string;
}
const {title, description} = Astro.props;

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
</head>
<body>
<div class={`min-h-screen font-public-sans bg-wild-sand-50 flex flex-col md:flex-row`}>
    <aside class="block relative w-full md:w-[270px]">
        <Header/>
    </aside>
    <aside class="md:pl-20 bg-white  px-6 md:px-0 md:border-l border-sail-200 w-full">
        <main class="mx-0 text-gray-800 pt-8 px-0 md:pt-10 max-w-5xl md:pr-16 w-full pb-10 min-h-screen">
            <slot/>
        </main>
    </aside>
</div>
<footer class="bg-white px-6 pt-2 pb-10 text-[11px] block md:hidden">
    <div class="feeds mb-3 block inline-flex flex-col gap-1 border-b border-gray-200 pb-3">
        <a href="/rss.xml" class="external inline-block text-[10px] grayscale">RSS
            Feeds </a>
    </div>
    <span class="block">© {currentYear} Alfin Surya</span>
</footer>
</body>

